@font-face {
  font-family: roboto;
  src: url(../assets/Roboto-Bold.ttf);
  font-weight: 700;
}
/* MAIN CSS */

* {
  box-sizing: border-box;
}
body {
  background: #eef9bf;
}

.header {
  font-family: roboto;
  font-weight: 700;
  color: #75b79e;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  padding: 40px 0 47px 0;
  margin: 0 20px 0 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  margin: 0 450px 0 450px;
}
.card {
  width: 117px;
  height: 146px;
  position: relative;
}
.parrot {
  width: 100px;
  height: 100px;
}
.gif {
  width: 100px;
  height: 100px;
}
.vanish {
  display: none;
}
.completed {
  pointer-events: none;
}
.clock {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  font-family: sans-serif;
  color: #212c20;
  background: rgb(255, 255, 255);
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 3px gray;
}

.face {
  padding: 23px 8.5px 23px 8.5px;
  border: 1px solid #99cea8;
  border-radius: 5px;
  background: #a7e9af;
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.back-face {
  transform: rotateY(180deg);
}

/* JAVA SCRIPT */

.selected .back-face {
  transform: rotateY(0deg);
}
.selected .front-face {
  transform: rotateY(-180deg);
}
.completed .back-face {
  transform: rotateY(0deg);
}

.completed .front-face {
  transform: rotateY(-180deg);
}

/* MEDIA */

@media (max-width: 1400px) {
  .container {
    margin: 0 175px 0 175px;
  }
@media (max-width: 616px) {
  .header {
    font-size: 36px;
    line-height: 42px;
  }
  .container {
    margin: 0 100px 50px 100px;
  }
}
@media (max-width: 330px)  {
  .container {
    margin: 0 60px 50px 60px;
  }
}